@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap')

body
    font-family: 'Montserrat', sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box


.container
    margin: 0 auto
    width: 100%
    max-width: 1380px
    padding: 0 30px

.full-header
    background-image: url("../public/img/background-main-screen.png")
    height: 951px
    overflow: hidden

@media screen and ( max-width: 728px  )
    
    .full-header
        height: 775px

.header-logo
    width: 100%
    display: block
    max-width: 214px
    display: flex
    align-items: center
    justify-content: center
    text-decoration: none

    &--img
        margin-right: 14px

    &--text
        font-style: normal
        font-weight: bold
        font-size: 16.5486px
        line-height: 17px
        color: #FFFFFF

.menu
    display: flex
    justify-content: center

    &--item
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 20px
        color: #FFFFFF
        text-decoration: none
        margin-right: 33px
        &:last-child
            margin-right: 0
        &.active
            text-decoration: underline

        
.header-callback
    display: flex
    flex-direction: column
    align-items: flex-end
    padding-top: 18px

    &--phone
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 20px
        text-align: right
        color: #FFFFFF
        margin-bottom: 7px
        text-decoration: none
        
    &--btn
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 20px
        text-align: right
        text-decoration-line: underline
        color: #FFB800
        cursor: pointer

.header-container
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 52px
    margin-bottom: 50px

.content-btn
    display: flex
    justify-content: center
    width: 579px
    height: 108px
    background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
    box-shadow: 0px 6px 0px #F4B102
    border-radius: 15px
    font-style: normal
    font-weight: bold
    font-size: 28.4065px
    line-height: 35px
    color: #000000
    position: relative

    &--img
        position: absolute
        left: -20px
        top: -62px

    &--text
        font-style: normal
        font-weight: bold
        font-size: 28.4065px
        line-height: 35px
        margin-right: -79px
        text-transform: none
        color: #000


@media screen and ( max-width: 728px  )
    .content-btn
        width: calc( 100% - 30px )
        font-size: 13px
        line-height: 16px
        text-align: center
        margin: auto
        height: 51.14px
        &--text
            font-style: normal
            font-weight: bold
            font-size: 13px
            line-height: 16px
            margin-right: 0

.header-content
    display: flex
    margin-top: 118px
    &--title
        margin: 0
        font-style: normal
        font-weight: bold
        font-size: 78.4286px
        line-height: 96px
        color: #FFFFFF
        margin-bottom: 77px

    &--description
        position: relative
        font-style: normal
        font-weight: normal
        font-size: 23.936px
        line-height: 29px
        margin-top: 63px
        color: #FFFFFF
        &-arrow
            position: absolute    
            top: -10px
            padding-left: 13px


    &--right

        img
            width: 100%

@media screen and ( max-width: 728px  )

    .header-content
        flex-direction: column
        width: auto
        height: 100%
        max-height: 570px
        position: relative
        padding-top: 18px
        margin: 0
        &--title
            font-size: 37px
            line-height: 45px
            max-width: 260px
            margin-bottom: 20px



        &--description
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
            color: #FFFFFF

            position: absolute
            bottom: -48px
            left: 0
            right: 0
            width: 210px
            margin: auto
            &-arrow
                top: -6px
                svg 
                    width: 30px
                    height: 32px

        .content-btn
            position: absolute
            bottom: 11px
            left: 0
            right: 0
            margin: auto
            justify-content: center
            background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
            box-shadow: 0px 2.84112px 0px #F4B102
            border-radius: 7.1028px

            &--img
                top: -35px
                width: 100px


    .header
        display: none

.header-mobile
    display: none

    z-index: 100
    width: 100%
    overflow: hidden
    height: 100px
    transition: background 0.2s ease
    &--active
        height: 100%
        
        overflow-y: auto
        background: #000

    &--menu
        visibility: hidden
        height: 0
        background: #fff
        padding: 53px 30px 57px
        transform: translateY(100%)
        transition: transform 0.3s ease-in-out
        &.active
            transform: translateY(0)
            height: auto
            visibility: visible

        &-items
            display: flex
            flex-direction: column

        &--item
            font-style: normal
            font-weight: bold
            font-size: 28px
            line-height: 29px
            margin-bottom: 39px
            text-decoration: none
            color: #000000

    .header-callback
        display: flex
        flex-direction: column
        border-top: 1px solid #E2E2E2
        align-items: baseline
        padding-top: 27px
        &--phone
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 20px
            margin-bottom: 7px
            color: #000000

        

    &--top
        display: flex
        align-items: center
        justify-content: space-between
        height: 120px
        padding: 0 30px

    &--logo
        display: flex
        align-items: center
        text-decoration: none
        text-transform: uppercase

        &--img
            width: 28px
            margin-right: 7px

        &--text
            color: #fff
            font-weight: bold
            font-size: 9px
    &--toggle-menu
        display: flex
        align-items: center
        &-text
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 22px
            margin-right: 28px
            color: #FFFFFF
        &-icon-burger
            width: 26px
            height: 3px
            display: block
            position: relative
            background: #fff

            &::before, &::after
                content: ""
                width: 26px
                height: 3px
                display: block
                position: relative
                background: #fff
                top: -7px
                transition: all 0.2s ease

            &::after
                top: 5px
                transition: all 0.2s ease

        &-icon-close
            width: 26px
            height: 0px
            display: block
            position: relative

            &::before, &::after
                content: ""
                width: 30px
                height: 3px
                display: block
                position: relative
                background: #fff
                top: -3px
                transform: rotate(45deg)

            &::after
                top: -5px
                transform: rotate(-45deg)
        
                
            




@media screen and ( max-width: 728px  )
    .header-mobile
        display: block

    .footer .header-callback
        align-items: center
    

.minimal-header
    .container
        width: auto
    .header-logo--text
        color: #000
    .menu--item
        color: #000
    .header-callback--phone
        color: #000

    .title
        margin: 0
        margin-top: 119px

@media screen and ( max-width: 728px )
    .minimal-header

        .title
            margin-top: 98px

        .header-mobile

            &--active

                .header-mobile--logo--text
                    color: #fff

                .header-mobile--toggle-menu-text
                    color: #fff
                  
            &--logo

                &--text
                    color: #000

            &--toggle-menu-text
                color: #000

            &--toggle-menu-icon-burger
                background: #000
                &::after, &::before
                    background: #000

            &--toggle-menu-icon-close
                background: unset

                &::before, &::after
                    background: #fff!important
            
                    

.title
    font-style: normal
    font-weight: bold
    font-size: 78px
    line-height: 95px
    max-width: 950px
    color: #000000

@media screen and ( max-width: 728px )
    .title
        font-size: 37px
        line-height: 45px
        margin: 0
        margin-bottom: 55px

.yellow-text
    font-weight: bold
    background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
    border-radius: 10px
    padding: 0 10px

.preview-description
    position: relative
    overflow: hidden
    padding-bottom: 45px
    &--container
        display: flex
        align-items: center
        justify-content: center
        height: 736px

    &--text
        margin: 0
        font-style: normal
        font-weight: normal
        font-size: 49px
        line-height: 65px
        text-align: center
        color: #000000

    &::before, &::after
        content: ""
        display: block
        position: absolute
        margin: auto
        top: 0
        left: -5px
        // bottom: 0
        height: 100%
        width: 100%
        background-repeat: no-repeat
        padding-bottom: 80px

    &::before
        left: -5px
        top: -141px
        background-image: url("../public/img/preview-description-left.png")
        background-position-x: left

    &::after
        right: 0
        background-image: url("../public/img/preview-description-right.png")
        background-position-x: right

@media screen and ( max-width: 728px )
    .preview-description

        &--container
            height: 204px
            width: auto

        &--text
            font-size: 13px
            line-height: 17px
    
        &::before, &::after
            background-size: 120px

        &::before
            top: 15px
        &::after
            right: -70px
        
@media screen and ( max-width: 408px )
    .preview-description
        &--text
            font-size: 11px

.main-advantages
    padding-top: 132px

    &--container
        display: grid
        column-gap: 30px
        row-gap: 46px
        grid-template-columns: repeat( 4, minmax(200px, 323px))
        grid-template-rows: repeat(2, 225px)
    &--item
        background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
        box-shadow: 0px 4px 0px #EEAC01
        border-radius: 17px
        padding-top: 43px
        padding-left: 38px
        position: relative

        &-1
            grid-column: 1/3

            .main-advantages--img
                right: 0
        &-2
            .main-advantages--img
                left: 0
                right: 0
                margin: auto
                bottom: 20px
        &-3
            background: linear-gradient(87.38deg, #00FF66 2.32%, #00F79E 98.02%)
            box-shadow: 0px 4px 0px #02DB59
            grid-row: 1/3
            grid-column-start: 4
            .main-advantages--img
                bottom: -30px

        &-4
            grid-column: 1/2
            .main-advantages--img
                right: 30px
        &-5
            grid-column: 2/4
            .main-advantages--img
                left: 0
                top: 0
                width: 100%
                height: 100%

    &--text
        margin: 0
        font-style: normal
        font-weight: bold
        font-size: 32.3829px
        line-height: 39px
        color: #000000
        max-width: 335px
        position: relative
        z-index: 2

    &--img
        position: absolute
        bottom: 0

@media screen and ( max-width: 728px )
    .main-advantages
        padding-top: 43px
        padding-bottom: 50px
        overflow: hidden
        &--container
            width: auto
            
            grid-template-columns: repeat(2, minmax(145px, 323px))
            grid-template-rows: repeat(5, 122px)
            column-gap: 17px
            row-gap: 28px

        &--item
            padding-top: 23px
            padding-left: 21px
           
            &-1
                grid-column: 1/3
                .main-advantages--img
                    width: 100%
                    max-width: 150px   

            &-2
                grid-column: 2/3
                grid-row: 2/3
                .main-advantages--text
                    max-width: 115px
                .main-advantages--img
                    width: 100%
                    
          
            &-3
                
                grid-column: 1/3
                grid-row: 4/6

                .main-advantages--img
                    bottom: -74px
                    right: -81px
           

            &-4
                grid-column: 1/2
                grid-row: 2/3
                .main-advantages--text
                    max-width: 115px
                .main-advantages--img
                    width: 100%
                    max-width: 120px   
                    right: 10px
            
            &-5
                overflow: hidden
                grid-column: 1/3
                grid-row: 3/4
        
    
        &--text
            font-size: 17px
            line-height: 21px
            max-width: 200px
    
@media screen and ( max-width: 408px )
    .main-advantages
        &--item
            padding-top: 23px
            padding-left: 21px
           
            &-1
                
                .main-advantages--img
                    max-width: 115px
            &-3
                height: 160px
                .main-advantages--img
                    width: 100%

.process
    padding-top: 167px
    &--title
        margin-bottom: 220px

    &--items
        display: none
        flex-direction: column

    &--item
        margin-bottom: 45px
        display: flex
        align-items: center

    &--number
        display: flex
        align-items: center
        justify-content: center
        background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
        width: 41px
        height: 41px
        border-radius: 50%
        margin-right: 19px
        font-style: normal
        font-weight: bold
        font-size: 27px
        line-height: 33px
        color: #000000
    &--text
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 24px
        color: #000000
        max-width: 240px

@media screen and ( max-width: 728px )
    .process
        padding-top: 58px
        &--title
            margin-bottom: 55px

        &--container
            width: auto

        &--img
            display: none
        &--items
            display: flex
        

.our-works
    padding-top: 190px
    &--all
        display: flex
        margin: 68px auto 0
        align-items: center
        justify-content: center
        width: 311.18px
        height: 51.58px
        background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
        border-radius: 8.45588px
        font-style: normal
        font-weight: bold
        font-size: 27.7353px
        line-height: 34px
        color: #000000
        text-decoration: none

        &-mobile
            display: none

@media screen and ( max-width: 728px )

    .our-works
        padding-top: 87px

        &--title
            margin-bottom: 40px

        &--container
            overflow: hidden
            width: auto
        .image-list
            grid-template-columns: repeat(1, 1fr)!important
            gap: 5px!important

        &--all
            width: calc( 100% - 60px )
            max-width: 365px
            margin-top: 50px
  

.main-price
    padding-top: 223px
    &--title
        margin: 0
        margin-bottom: 100px
    &--wrap
        display: flex
    &--left, &--right
        width: 100%
    &--right
        display: flex
        justify-content: flex-end

@media screen and ( max-width: 728px )

    .main-price
        padding-top: 146px
        &--title
            margin-bottom: 75px
        &--container
            width: auto
        &--wrap
            flex-direction: column
    
.main-price-list
    display: flex
    flex-direction: column
    max-width: 600px
    margin-bottom: 16px
    &--item
        display: flex
        align-items: center
        margin-bottom: 42px

    &--name
        font-style: normal
        font-weight: normal
        font-size: 35px
        line-height: 43px
        width: 50%
        color: #000000
    &--bold
        font-style: normal
        font-weight: bold
        font-size: 35px
        line-height: 43px

        color: #000000

    &--value
        width: 50%
        text-align: right

    &--top
        margin-bottom: 60px

    &--all
        width: 375px
        height: 52px
        display: flex
        align-items: center
        justify-content: center
        font-style: normal
        font-weight: bold
        font-size: 27.7353px
        line-height: 34px
        color: #000000
        text-decoration: none
        background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
        border-radius: 8.45588px
        &-mobile
            display: none


@media screen and ( max-width: 728px )

    .main-price-list
        
        &--item
            margin-bottom: 26px

        &--name
            font-size: 21px
            line-height: 26px
        &--value
            font-size: 21px
            line-height: 26px

        &--top
            margin-bottom: 39px
            .main-price-list--bold
                font-size: 22px
                line-height: 27px

        &--all
            width: 100%
            height: 51.58px
            font-size: 27.7353px
            line-height: 34px
            margin: auto
            margin-bottom: 133px
            &-mobile
                display: flex
            &-desctop
                display: none

.form
    width: 100%
    max-width: 580px

    &--wrap
        width: 100%
        display: flex
        flex-direction: column
    &--input
        border-radius: 15px
        width: 100%
        height: 83px
        font-style: normal
        font-weight: normal
        font-size: 26px
        line-height: 32px
        color: #000000
        padding: 25px 39px
        box-sizing: border-box
        border: 2px solid #FFB800
        margin-bottom: 26px
        &:placeholder
            font-style: normal
            font-weight: normal
            font-size: 26px
            line-height: 32px
            color: #000000
        &:focus
            border: 2px solid #FFB800
            outline: none

        &-error
            border-color: #ff5730
    &--textarea
        resize: none
        height: 166px

    &--btn
        width: 100%
        height: 108px
        border: none
        cursor: pointer
        background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
        box-shadow: 0px 6px 0px #F4B102
        border-radius: 15px
        font-style: normal
        font-weight: bold
        font-size: 28px
        line-height: 34px
        color: #000000
        margin-top: 35px

    &--label
        font-family: "Montserrat", sans-serif!important
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 18px
        text-align: right
        display: flex
        align-items: center
        margin: 44px auto 0
        color: #000000

        .MuiTypography-root
            font-family: "Montserrat", sans-serif!important

@media screen and ( max-width: 728px )
    .form

        &--input
            height: 52px
            font-size: 16px
            line-height: 20px
            border-radius: 13px
            margin-bottom: 15px
            padding: 19px 23px

        &--textarea
            padding: 19px 23px
            border-radius: 13px
            margin-bottom: 15px
            height: 105px
            font-size: 16px
            line-height: 20px
            font-family: "Montserrat", sans-serif!important

        &--btn
            height: 68px
            font-size: 17px
            line-height: 21px
            margin-top: 30px

        &--label
            margin-top: 21px
            .MuiTypography-root
                font-style: normal
                font-weight: normal
                font-size: 10px
                line-height: 12px
                text-align: right
.reviews
    padding-top: 205px

    &--title
        margin: 0
        margin-bottom: 90px

    &--item
        display: flex
        flex-direction: column
      
        padding: 18px 33px 21px 25px
        background: linear-gradient(87.38deg, #00FF66 2.32%, #00F79E 98.02%)
        box-shadow: 0px 4px 0px #02DB59
        border-radius: 29px 29px 29px 0px  
        box-sizing: border-box
    &--user
        font-style: normal
        font-weight: bold
        font-size: 14.2538px
        line-height: 17px
        color: #000000
        margin-bottom: 7px
    &--text
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 17px
        color: #000000


.slick-slide > div
    margin: 0 40px
.slick-list 
    margin: 0 -40px

.slick-dots
    bottom: -80px
    list-style: none
    li 
        list-style: none
        margin: 0 16px
        button
            background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
            width: 23px
            height: 23px
            border-radius: 50%
            position: relative
            &:before
                content: ""
    .slick-active
        button:before
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            margin: auto
            background: #000000
            display: block
            width: 13px
            height: 13px
            border-radius: 50%

@media screen and ( max-width: 728px )
    .reviews
        padding-top: 129px
        &--title
            margin-bottom: 65px
        &--container
            width: auto
        &--items
            display: flex
            flex-direction: column

        &--item
            padding: 17px 40px 14px 19px
            margin-bottom: 32px
        
        &--user
            font-size: 13px
            line-height: 16px

        &--text
            font-size: 12px
            line-height: 15px
        &--more
            display: flex
            align-items: center
            margin: auto
            text-decoration: none
            width: 156px
            &-loader
                margin-right: 6px

            &-text
                font-style: normal
                font-weight: bold
                font-size: 18px
                line-height: 22px
                color: #000000

.text-block
    padding-top: 298px
    margin-bottom: 130px
    &--title
        margin: 0
        margin-bottom: 52px
        max-width: 1200px
    &--text
        font-style: normal
        font-weight: normal
        font-size: 23.936px
        line-height: 29px
        color: #000000
        margin-bottom: 42px
        max-width: 1100px
        height: 110px
        overflow: hidden
       
        p
            margin: 0
            margin-bottom: 29px
            opacity: 0
            transition: all 0.2s ease

        p:first-child
            opacity: 1
        
        strong
            font-weight: bold
        &-active
            height: 100%
            p
                opacity: 1
    &--all
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        width: 375px
        height: 52px
        // background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
        border-radius: 8.45588px
        font-style: normal
        font-weight: bold
        font-size: 27.7353px
        line-height: 34px
        color: #000000
        margin: auto
        text-decoration: none
    &--more-loader
        margin-right: 8px
@media screen and ( max-width: 728px )

    .text-block
        margin-top: 0
        padding-top: 130px
        &--title
            margin-bottom: 32px
        &--container
            width: auto
        &--all
            font-size: 18px
            line-height: 22px
   
.footer
    background: #000000
    padding: 74px 0 72px

    &--top
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 126px

    &--bottom
        display: flex
        align-items: center
        justify-content: space-between

        &-item
            display: flex
            flex-direction: column

    &--copy
        margin-bottom: 14px

    &--copy, &--politic
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 20px
        color: #FFFFFF
        text-decoration: none

    &--developer
        display: flex
        flex-direction: column
        align-items: flex-end
        text-decoration: none
        &-text
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 20px
            text-align: right
            color: #FFFFFF
            margin-bottom: 12px
        &-img 
            max-width: 141px



.footer-logo
    width: 100%
    display: block
    max-width: 214px
    display: flex
    align-items: center
    justify-content: center
    text-decoration: none

    &--img
        margin-right: 14px

    &--text
        font-style: normal
        font-weight: bold
        font-size: 16.5486px
        line-height: 17px
        color: #FFFFFF

@media screen and ( max-width: 728px )
    .footer
        &-logo
            margin-bottom: 25px
        &--container
            width: auto

        &--top
            flex-direction: column
            margin-bottom: 44px
            .menu 
                display: none

        &--bottom
            flex-direction: column-reverse

        &--developer
            margin-bottom: 42px
            align-items: center

        &--copy
            display: flex
            justify-content: center
            margin-bottom: 14px

.about-advantages
    padding-top: 82px
    margin-bottom: 67px
    &--title
        max-width: 585px

    &--container
        display: flex
        align-items: center
        
        flex-wrap: wrap

    &--item
        width: 50%
        display: flex
        align-items: center
        margin-bottom: 90px

    &--img
        margin-right: 36px
        width: 120px
        height: 120px
        border-radius: 50%
    
        background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)

    &--text
        max-width: 455px
        width: 100%
        display: block
        font-style: normal
        font-weight: normal
        font-size: 26px
        line-height: 32px
        color: #000000

@media screen and ( max-width: 728px )
    .about-advantages
        padding-top: 82px
        margin-bottom: 67px
        &--title
            margin-bottom: 49px
        .container
            width: auto
        &--container
            flex-direction: column

        &--item
            width: auto
            margin-bottom: 53px

        &--img
            width: 74px
            height: 74px

        &--text
            margin: 0
            font-size: 15.617px
            line-height: 19px
    
.submit-application
    margin-bottom: 112px
    .form 
        max-width: 570px
    &--wrap
        display: flex
    &--left, &--right
        width: 100%
    &--right
        display: flex
        justify-content: flex-end

    &--title
        font-style: normal
        font-weight: bold
        font-size: 51.1244px
        line-height: 66px
        color: #000000
        max-width: 749px
        margin: 0
        margin-bottom: 30px
    &--text
        font-style: normal
        font-weight: normal
        font-size: 29.9208px
        line-height: 35px
        color: #000000
        max-width: 561px
        margin: 0
        margin-bottom: 70px

    &--master
        display: flex
        align-items: center
        &-label
            position: relative
            margin-right: 38px
            background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
            border-radius: 11px
            width: 143px
            height: 114px
            display: flex
            justify-content: center
        &-img
            width: 100%
            height: auto
            position: absolute
            bottom: 0
        &-name
            font-style: normal
            font-weight: bold
            font-size: 23.3281px
            line-height: 28px
            color: #000000
            margin-bottom: 10px
        &-position
            font-style: normal
            font-weight: normal
            font-size: 23.3281px
            line-height: 28px
            color: #000000

@media screen and ( max-width: 728px )
    .submit-application
        margin-bottom: 92px
        &--container
            width: auto

        &--wrap
            flex-direction: column

        &--title
            font-size: 25px
            line-height: 34px
            max-width: 370px
            margin-bottom: 24px
        &--text 
            font-size: 14px
            line-height: 17px
            max-width: 280px
            margin-bottom: 61px
        &--master
            margin-bottom: 62px
            margin-left: 8px
            &-label
                width: 82.04px
                height: 65.4px
                margin-right: 20px
        
            &-name
                font-size: 13px
                line-height: 15px
                margin-bottom: 5px
            &-position
                font-size: 13px
                line-height: 15px
.contact
    margin-top: 208px
    margin-bottom: 177px
    &--title
        margin: 0
        margin-bottom: 39px

    &--description
        font-style: normal
        font-weight: normal
        font-size: 29.9208px
        line-height: 35px
        color: #000000
        margin-bottom: 65px
    &--phone
        font-style: normal
        font-weight: bold
        font-size: 29.9208px
        line-height: 35px
        color: #000000
        text-decoration: none
        margin-bottom: 65px
        display: block

    &--feedback-items
        display: flex
        align-items: center
        margin-bottom: 67px
    &--feedback-item
        width: 100%
        max-width: 311.18px
        height: 51.58px
        background: linear-gradient(89.4deg, #FFD600 0.26%, #FFD600 99.77%)
        border-radius: 8.45588px
        margin-right: 44px
        display: flex
        align-items: center
        justify-content: center
        font-style: normal
        font-weight: bold
        font-size: 27.7353px
        line-height: 34px
        color: #000000
        text-decoration: none
    &--map
        margin-bottom: 38px
    &--address
        font-style: normal
        font-weight: bold
        font-size: 29.9208px
        line-height: 35px
        color: #000000

@media screen and ( max-width: 728px )
    .contact
        margin-top: 82px
        margin-bottom: 114px
        &--container
            width: auto

        &--title
            max-width: 220px
            margin-bottom: 13px
        &--description
            margin: 0
            font-size: 14px
            line-height: 17px
            margin-bottom: 45px
        &--phone
            font-size: 24px
            line-height: 28px
            margin-bottom: 44px

        &--feedback-items
            flex-direction: column
            margin-bottom: 16px
        &--feedback-item
            width: 100%
            max-width: unset
            
            margin-right: 0
            margin-bottom: 31px 

        &--map
            margin-right: -30px
            margin-left: -30px
            margin-bottom: 16px

        &--address
            font-size: 24px
            line-height: 28px

.price-list
    margin-top: 123px
    margin-bottom: 255px
    &--items
        display: flex
        justify-content: space-between
        flex-wrap: wrap

    &--item
        display: flex
        flex-direction: column
        align-items: center

    &--img
        display: flex
        justify-content: center
        height: 215px
        margin-bottom: 43px
        img 
            width: auto
            height: auto

    &--name
        font-style: normal
        font-weight: normal
        font-size: 32px
        line-height: 39px
        margin-bottom: 21px
        color: #000000
    &--value
        font-style: normal
        font-weight: bold
        font-size: 32px
        line-height: 39px
        color: #000000

@media screen and ( max-width: 728px )
    .price-list
        margin-bottom: 118px
        &--container
            width: auto
        &--items
            justify-content: center
        &--item
            margin-bottom: 117px

        &--img
            height: auto
            margin-bottom: 50px


.format-text
    margin-bottom: 200px

    *
        font-style: normal
        font-size: 23px
        line-height: 28px
        color: #000000

@media screen and ( max-width: 728px )

    .is-politic-page
        .title
            overflow-wrap: break-word
            margin-bottom: 46px
    .format-text

        &--container
            width: auto

        *
            font-size: 20px
            line-height: 24px


.modal
    background: rgba(0, 0, 0, 0.7)
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    visibility: hidden
    transition: all 0.3s ease

    &.active
        z-index: 999
        opacity: 1
        visibility: visible


    &--main-content
        position: relative
        background: #FFFFFF
        border-radius: 15px
        padding: 49px 52px
        transform: scale(0.3)
        transition: all 0.3s ease-in-out
        &.active
            transform: scale(1)

    &--top
        margin-bottom: 39px

    &--close
        position: absolute
        top: 20px
        right: 20px
        cursor: pointer

    &--title
        font-style: normal
        font-weight: bold
        font-size: 28px
        line-height: 34px
        margin: 0
        max-width: 390px
        color: #000000

    
    &--body
        display: flex
        justify-content: center

@media screen and ( max-width: 728px )

    .modal
        overflow-y: auto
        align-items: flex-start
        
        &--main-content
            border-radius: 0


